workflows/[UDIA] Backup de Workflows.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T23:13:49.962Z",
  "id": "XTxZBKuHZ5pc5c9n",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Backup de Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "f5ac8500-579b-48af-8c89-1960c5760f16",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1376,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "bf8d22bf-0180-4e69-859b-b03c0b4dea1e",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -544,
        256
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "2cf72122-a4eb-4b89-a6ad-21144f3c9132",
      "credentials": {
        "githubApi": {
          "id": "T5A6DwsnTOBLsay5",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "003780e6-aab6-4392-884b-ef18e97478f2",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        0,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "302295a8-8462-447a-8ae6-329eec3b9648",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        160,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "bfdfdd97-62e5-42b7-a6b3-314801fc99b7",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        160,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "54ac1871-db0c-4835-96c1-138779a0bb52",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        160,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "de8317d5-2fe1-47b9-82d2-f693b7bf97d1",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        320,
        336
      ],
      "typeVersion": 1,
      "webhookId": "2d84b577-db40-4fb8-bc20-d33c14a9aad3",
      "credentials": {
        "githubApi": {
          "id": "T5A6DwsnTOBLsay5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "8de16a6f-1c96-4a12-9314-d4cbfc1729fc",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        320,
        576
      ],
      "typeVersion": 1,
      "webhookId": "bb3fe83c-dd58-4a40-a90e-6ef142f0fa1d",
      "credentials": {
        "githubApi": {
          "id": "T5A6DwsnTOBLsay5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "cf1469e2-44af-4335-baa7-c35f63895d68",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1376,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "1bf68902-7657-4b0a-89e6-0e651dfab9b1",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1008,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "EcBDNCkpbCNWyMSD",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "1600d50b-6ace-4a99-85d0-74509f33d842",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -160,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f573aa43-9cd6-4d3f-9bc4-dafc11791962",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -304,
        368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "cb635-ual"
            },
            {
              "name": "repo.name",
              "value": "messigithub"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "09d6ec69-7737-4cf5-b0ac-c307cc16efee",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1200,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a718169e-57c1-4464-9d1f-8a3117dce595",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -656,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "51fccc3f-465b-4528-b78c-d73e0210cf04",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        368
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T23:13:49.965Z",
      "createdAt": "2025-12-01T23:13:49.965Z",
      "role": "workflow:owner",
      "workflowId": "XTxZBKuHZ5pc5c9n",
      "projectId": "gXLTUZREy3VyHbNy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-01T23:13:49.962Z",
  "versionId": "656da19d-8430-42c3-9c61-6a87e53f3a8e"
}