workflows/CLASE UDIA APRENDER.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        []
      ]
    },
    "Date & Time3": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Date & Time": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-06T22:17:09.510Z",
  "id": "KiUH7eWa9kaxV85I",
  "isArchived": false,
  "meta": null,
  "name": "CLASE UDIA APRENDER",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2bfaee5c-53a8-45eb-8214-3bd9ab333825",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "10483e48-d93e-4411-87dc-a1cec011b508",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -864
      ],
      "id": "05323aa8-5aa0-4636-93ea-0e10d58604b7",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -672
      ],
      "id": "4b402cba-9c68-430c-b5df-a8fd640f3012",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -512
      ],
      "id": "48272573-0164-44b8-8223-10322c4bb7cc",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -320
      ],
      "id": "17ec89d8-6607-4548-9ef4-a693c6be5baa",
      "name": "Date & Time3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f294c362-7a68-4411-b3b1-d2c3f7498bd3",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Jorge",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "fad26632-0b34-49b1-afee-a8f8d4613bc5",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        176
      ],
      "id": "96650bb2-607d-43eb-8a5e-5ac6908f8341",
      "name": "Limit"
    },
    {
      "parameters": {
        "compare": "={{ $json.creator }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        464,
        336
      ],
      "id": "b219a742-97ce-4d0f-bd51-3bdf7034e83f",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "fieldToSplitOut": "creator",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        496
      ],
      "id": "01441911-a961-44f8-a0c2-604aeb8018f5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        496
      ],
      "id": "77114b3d-e319-4736-aac1-2bd0d34661d7",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        688
      ],
      "id": "5f7c90fb-2065-48e8-8fe0-7bd6bf7265cb",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/category/business/latest/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        416
      ],
      "id": "7ff92f72-eb3a-451f-b1d8-29fb2f7e71f4",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "creator",
              "newKey": "creador"
            },
            {
              "currentKey": "title",
              "newKey": "titulo"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        704,
        688
      ],
      "id": "d8531b8d-f777-4678-96ab-6b3e5206416c",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate"
            }
          ]
        },
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        912,
        688
      ],
      "id": "277c4910-5ae9-4ef1-9f44-db5adb0bcb8f",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "creator"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        448,
        896
      ],
      "id": "1ca80f51-ebe5-4f5b-8adf-11c2e5abcdd1",
      "name": "Summarize"
    },
    {
      "parameters": {
        "url": "https://img.freepik.com/foto-gratis/balon-futbol_1398-1351.jpg?semt=ais_hybrid&w=740&q=80",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        1328
      ],
      "id": "78684c24-9f99-401f-8402-db7c98a3b724",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "resize",
        "resizeOption": "ignoreAspectRatio",
        "options": {
          "format": "jpeg"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        416,
        1328
      ],
      "id": "d543fbbd-9812-4de2-811e-cf2bc4072008",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        1040
      ],
      "id": "0f80af70-b15d-45ff-8141-693be2339cd1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "compress",
        "fileName": "data"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        656,
        1040
      ],
      "id": "131a3690-004f-4e28-97f2-ff73dcd5e988",
      "name": "Compression"
    },
    {
      "parameters": {
        "value": "data"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        656,
        1200
      ],
      "id": "4f4be18f-395c-4f07-8064-42e888c20963",
      "name": "Crypto"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-06T22:17:09.515Z",
      "createdAt": "2025-11-06T22:17:09.515Z",
      "role": "workflow:owner",
      "workflowId": "KiUH7eWa9kaxV85I",
      "projectId": "gXLTUZREy3VyHbNy"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T23:33:15.000Z",
  "versionId": "7818e61a-0bc5-44e8-beac-4aa321ce8fc7"
}